.padreCarrito {
    display: flex;
    flex-wrap: wrap;



}


.contenedorImgen {
    display: flex;

}

.carritoImagen {
    width: 200px;
    
}
.contenedorInformacion{
    margin-left: 40px;
}

.columnas {

    display: flex;

    gap: 450px;
}